<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola crack,</p>
        <p>Has solicitado restablecer tu contraseña. Haz clic en el siguiente enlace para cambiarla:</p>
        <a href="{{resetLink}}">Restablecer contraseña</a>
    </body>
</html>