<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h1>¡Bienvenido a UProyectos, {{name}}!</h1>
        <p>
            Haz clic en el siguiente enlace para verificar tu dirección de correo electrónico:

            <a href="{{verificationLink}}">Verificar correo electrónico</a>
        </p>
    </body>
</html>