<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h1>¡Bienvenido a UProyectos, {{name}}!</h1>
        <p>
            Estamos emocionados de tenerte a bordo. Ahora puedes acceder a todas las funciones de nuestra plataforma.
        </p>
</html>